@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Minimalist dark-mode foundation */
  --color-background: #070705;
  --color-surface: #131313;
  --color-foreground: #d4d4d8;
  --color-accent: #fb6a71;
  --color-border: #333230;
}

body {
  background: radial-gradient(circle at 50% 50%, #7a504c, rgb(6, 1, 20));
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

textarea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* hides Chrome, Safari, Edge scrollbar */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* hides scrollbar in IE and Edge */
  scrollbar-width: none; /* hides scrollbar in Firefox */
}
